.main_chat  
  .main_chat__group-info
    .main_chat__group-info__group_box
      .main_chat__group-info__group_box__group-name
        = @group.name
        .main_chat__group-info__group_box__member-list
          member:
          .main_chat__group-info__group_box__member-list__member
            - @group.users.each do |user|
              = user.name
    .main_chat__group-info__edit-box
      = link_to edit_group_path(@group.id) do
        Edit
  .main_chat__message-list
    = render @messages
    .main_chat__message-list__box
      .main_chat__message-list__box__data
        .main_chat__message-list__box__data__user-name
          takumi
        .main_chat__message-list__box__data__date
          -# 2019/12/9(mon)
      .main_chat__message-list__box__text
        -# おはよう〜
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


