.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      %h3.side_bar__user-name__top-items__name
        = current_user.name
      %ul.side_bar__user-name__top-items__icons
        %li.side_bar__user-name__top-items__icons__new-group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side_bar__user-name__top-items__icons__edit-acount
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side_bar__groups
    .side_bar__groups__list
      .side_bar__groups__list__group-name
        あいうえお
      .side_bar__groups__list__message
        まだメッセージがありません

